/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Cody Pedro
   Date: 10/27/2018
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
width: 95%;
margin-left: auto;
mergin-right: auto;


/* Image Styles */



/* Horizontal Navigation Styles */



/* Row Styles */




/* Column Styles */




/* Specials Styles */



/* Award Styles */



/* Footer Styles */

