@charset "utf-8";
@font-face {
	font-family: Quicksand;
	src: url('Quicksand-Regular.woff') format('woff'),
		 url('Quicksand-Refular.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Tutorial Case
   
   TSS Typographic Style Sheet
   Author: Cody Pedro
   Date:   10/2/2018
   
   Filename: tss_styles.css

*/



/* HTML and Body Styles */
html {
	background-color: hsl(27, 72%, 72%);
}
body {
	color: rgb(91, 91, 91);
	background-color: ivory;
	font-family: Verdana, Geneva, sans-serif;
}

/* Heading Styles */
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.5em;
}
h1, h2 {
	letter-spacing: 0.1em;
	font-family: Quicksand, Verdana, Geneva, sans-serif;
}
article#about_tss h1 {
	color: white;
	background-color: rgb(222, 177, 60);
}
article#about_tss h2 {
	color: white;
	background-color: rgb(235, 177, 131);
}
article.syllabus h1, article.syllabus h2 {
	background-color: rgb(255, 185, 255);
	color: rgb(101, 101, 101);
}

/* Aside and Blockquote Styles */
aside {
	font-sizes: 0.8em;
}
aside blockquote {
	color: rgb(232, 165, 116);
	margin: 20px 5px;
	quotes: "\201C" "\201D";
}
aside blockquote::before {
	content: open-quote;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.6em;
	font-weight: bold;
}
aside blockquote::after {
	content: close-quote;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.6em;
	font-weight: bold;
}
/* Navigation Styles */	
nav {
	font-size: 0.8em;
}
nav > ul {
	line-height: 2em;
	line-style-type: none;
	list-style-type: none;
	padding-left: 5px;
}
nav > ul > li.newgroup {
	margin-top: 20px;
}
nav > ul > li > a:link, nav > ul > li > a:active {
	color: rgb(151, 151, 151);
	text-decoration:none;
}
nav > ul > li > a:hover, nav > ul > li > a:active {
	color: rgb(255, 64, 255);
	text-decoration: underline;
}
/* List Styles */
article#about_tss ul li:first-of-type {
		list-style-image: url(runicon.png);
}
article#about_tss ul li:nth-of-type(2) {
	list-style-image: url(bikeicon.png);
}
article#about_tss ul li:last-of-type {
	list-style-image: url(swimicon.png);
}
article.syllabus ol {
	list-style-type: upper-roman;
}
article.syllabus ol ol {
	list-style-type: upper-alpha;
}
article.syllabus ol ol ol {
	list-style-type: decimal;
}
/* Footer Styles */
body > footer address {
	background-color: rgb(222,128,60);
	color: white;
	color: rgba(255, 255, 255, 0.7);
	font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
	text-align: center;
}














/*
Notice for the Quicksand-Regular Font
------------------------------------------------------------------------------
SIL Open Font License v1.10

This license can also be found at this permalink: http://www.fontsquirrel.com/license/quicksand

Copyright (c) 2011, Andrew Paglinawan (http://www.andrewpaglinawan.com andrew.paglinawan@gmail.com), 
with Reserved Font Name “Quicksand”.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL

—————————————————————————————-
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
—————————————————————————————-

PREAMBLE
The goals of the Open Font License (OFL) are to stimulate worldwide development of collaborative 
font projects, to support the font creation efforts of academic and linguistic communities, and 
to provide a free and open framework in which fonts may be shared and improved in 
partnership with others.

The OFL allows the licensed fonts to be used, studied, modified and redistributed freely as 
long as they are not sold by themselves. The fonts, including any derivative works, can 
be bundled, embedded, redistributed and/or sold with any software provided that any reserved 
names are not used by derivative works. The fonts and derivatives, however, cannot be released under 
any other type of license. The requirement for fonts to remain under this license does not apply 
to any document created using the fonts or their derivatives.

DEFINITIONS
“Font Software” refers to the set of files released by the Copyright Holder(s) under this 
license and clearly marked as such. This may include source files, build scripts and documentation.

“Reserved Font Name” refers to any names specified as such after the copyright statement(s).

“Original Version” refers to the collection of Font Software components as distributed by 
the Copyright Holder(s).

“Modified Version” refers to any derivative made by adding to, deleting, or substituting—in 
part or in whole—any of the components of the Original Version, by changing formats or by 
porting the Font Software to a new environment.

“Author” refers to any designer, engineer, programmer, technical writer or other person 
who contributed to the Font Software.

PERMISSION & CONDITIONS
Permission is hereby granted, free of charge, to any person obtaining a copy of the Font Software, 
to use, study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of 
the Font Software, subject to the following conditions:

1) Neither the Font Software nor any of its individual components, in Original or Modified 
Versions, may be sold by itself.

2) Original or Modified Versions of the Font Software may be bundled, redistributed and/or 
sold with any software, provided that each copy contains the above copyright notice and this 
license. These can be included either as stand-alone text files, human-readable headers or in 
the appropriate machine-readable metadata fields within text or binary files as long as those 
fields can be easily viewed by the user.

3) No Modified Version of the Font Software may use the Reserved Font Name(s) unless explicit 
written permission is granted by the corresponding Copyright Holder. This restriction only applies 
to the primary font name as presented to the users.

4) The name(s) of the Copyright Holder(s) or the Author(s) of the Font Software shall not be used 
to promote, endorse or advertise any Modified Version, except to acknowledge the contribution(s) 
of the Copyright Holder(s) and the Author(s) or with their explicit written permission.

5) The Font Software, modified or unmodified, in part or in whole, must be distributed entirely 
under this license, and must not be distributed under any other license. The requirement for fonts 
to remain under this license does not apply to any document created using the Font Software.

TERMINATION
This license becomes null and void if any of the above conditions are not met.

DISCLAIMER
THE FONT SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE 
AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE COPYRIGHT 
HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, 
INCIDENTAL, OR CONSEQUENTIAL DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.
*/
