/*
    Comments
*/
@font-face {
    font-family: 'MyWebFont';
    src: url('inconsolata-webfont.eot');
    src: url('inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('inconsolata-webfont.woff2') format('woff2'),
         url('inconsolata-webfont.woff') format('woff'),
         url('inconsolata-webfont.ttf') format('truetype'),
         url('inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    background-image: "earth.jpg";
}

body{
    background-color: black;
    background: radial-gradient(rgb(10, 10, 10), black)
}

h1{
    padding-top: 10px;
    border-top-color: rgb(98, 178, 189);
    border-top-style: solid;
    border-top-width: 10px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: greenyellow;
    word-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgb(71, 104, 23);
}

h2{
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: greenyellow;
    border-bottom-color: rgb(98, 178, 189);
    border-bottom-width: 10px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    word-spacing: 3px;
    text-shadow: 2px 2px 1px rgb(71, 104, 23);
}

h3{
    font-family: 'Anton', sans-serif;
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 10px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.3px;
    text-shadow: 2px 2px 1px rgb(71, 104, 23);
}

p{
    font-family: 'MyWebFont';
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-indent: 15px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 2px 2px 1px rgb(71, 104, 23);
    
}

section section:last-of-type{
    padding-bottom: 15px;
    border-bottom-color: rgb(98, 178, 189);
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

img{
    padding-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
