tr.heading {
  color: #882E2C;
}

tr.results {
  font-size: smaller;
  color: #000000;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #882E2C;
}

a:hover {
  background-color: #E2F345;
}
a:visited {
  color: #882E2C;
}

a:active {
  color: #000000;
}

@charset "utf-8";
/*** CSS Document ***/
*		{
  margin: 0px;
  padding: 0px;
}

body	{
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, Arial, sans-serif;

}

a		{
  text-decoration: underline;
  font-size: 1.1em;
  color: rgb(95,95,95);

}

a:hover	{
  color:black;
  font-style: italic;
}

h2		{
  text-align: center;
  font-size: 1.5em;
  margin: 5px 0px;
  border-bottom: 1px dotted black;
  padding: 10px 0px;

}

h3		{
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  padding: 10px 0px;
  color: rgb(20,20,20);
}

#head p		{
  padding: 5px 0px;
}

table	{
  border-collapse: collapse;
  width: 950px;
  text-align:center;
  margin:10px 5px 40px 5px;

}

input[value] {
    color: grey;
}

td, th	{
  border: 1px solid rgb(60,95,90);
  vertical-align: middle;
  padding: 5px;
}

th		{
  background-color: rgb(210,210,210);
  height: 50px;
}

td {
  height: 40px;
  font-size: .95em;
}

td:nth-of-type(2){
  text-align: left;
}

#footer	{
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#footer p {
  padding: 5px 0px;
}


html {
  background-color: rgb(255, 230, 180);
  hieght: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  max-height: 300px;
  display: block;
  border-radius: 20px;
  width: 300px;
  margin: 20px auto;
}

img + img{
  -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.75);
}

h3{
  text-align: center;
  margin-top: 30px;
}

form {
  margin: 20px auto;
  display: table;
}

form [type = submit] {
  background-color: rgb(14,105,210);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Monospaced;
  padding: 3px;
  font-size: 0.9em;
  outline: transparent;
  display: block;
  border-radius: 5px;
  margin: 10px 100% 0%;
  -webkit-box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.75);
}

form [type = submit]:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

form [type = text] {
  border: inset lightgray 2px;
  outline: transparent;
  background: lightgoldenrodyellow;
  font-size: 12pt;
  width: 225px;
}

form textarea{
  border: inset lightgray 2px;
  outline: transparent;
  background: lightgoldenrodyellow;
}

form [type = text]:focus, form textarea:focus {
  background: white;
}

table {
  margin: 30px auto;
}

form label, form [type = text], form textarea{
	display: table-cell;
    margin-bottom: 5px;
}

form [type = text], form textarea{
  padding-left: 2px;
}

form label {
  width: 11em;
  text-align: right;
  padding-right: 5px;
}

form .row:nth-child(6) label{
  vertical-align: top;
}



.row{
  display: table-row;
}

p {
  text-align: center;
}

div.spacer{
  flex:1;
}

footer{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: inset lightgray 1px;
  background-color: rgb(255,225,180);
}

.error{
  color: red;
  font-weight: bold;
}

