﻿/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
   Author: Cody Pedro
   Date: 10/8/2018
   
   Filename: mw_styles.css

*/
@charset "utf-8";

/* Structural Styles */
html {
	background-color: rgb(173, 189, 227);
}
body {
	background-color: rgb(227, 210, 173);
	font-family: Century Gothic, sans-serif;
}
body > footer {
	background-color: rgb(208, 184, 109);
	padding-top: 5px;
	padding-bottom: 5px;
}
address {
	font-family: normal;
	font-size: 0.9em;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

/* Heading Styles */
h1, h2{
	font-weight: normal;
}


/* Navigation Styles */
nav > ul {
	line-height: 2em;
	font-size: 0.9em;
	list-style-type: none;
}
nav > ul > li > a:link, nav > ul > li > a:active {
	color: rgb(43, 59, 125);
	text-decoration: none;
}
nav > ul > li > a:hover, nav > ul > li > a:active {
	color: rgb(212, 35, 35);
}



/* Article Styles */
#tour_summary h1 {
	font-size: 2.2em;
	letter-spacing: 0.2em;
}
#tour_summary {
	font-size: 1.1em;
}
#tour_summary > p:first-of-type:first-line  {
	font-size: 1.2em;
	font-variant: small-caps;
}

/* Aside Styles */
aside#tour_itinerary h1 {
	font-size: 1.2em;
}
aside#tour_itinerary h2 {
	font-size: 0.9em;
}
aside#tour_itinerary p {
	font-size: 0.8em;
}
aside#tour_itinerary h2:nth-of-type(odd){
	color: rgb(79, 91, 40);
}
aside#tour_itinerary h2:nth-of-type(even){
	color: rgb(81, 95, 175);
}
aside#tour_itinerary p:nth-of-type(odd) {
	color: rgb(79, 91, 40);
}
aside#tour_itinerary p:nth-of-type(even) {
	color: rgb(81, 95, 175);
}

/* Blockquote Styles */
blockquote {
	background-color: rgb(173, 189, 227);
}
blockquote p {
	color: rgb(255, 255, 255);
	background-color: rgb(173, 189, 227);
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 10px;
	padding-right: 10px;
	font-variant: normal;
}

