/****************************************************************************************
*****************************************************************************************
    Wesite Name: Hobby
    Website URL: 
    Website Author: Cody Pedro
    Copyright 2019 . All Rights Resered

    Color Guide
    **************************
    grey
    white
    #92D4F4
    #326FC0
    **************************

    Typography Guide
    **************************
	
    
****************************************************************************************
****************************************************************************************/



/****************************************************************************************
*****************************************************************************************

Table of Contents
-----------------------------------------------------------------------------------------
   0. CSS Reset
   1. Body Setup
   2. Columns
-----------------------------------------------------------------------------------------
****************************************************************************************
****************************************************************************************/

/*------------------------------------------------------------
------------------------------------------------------------

    0. CSS Reset

------------------------------------------------------------
------------------------------------------------------------*/

*{margin:0;padding:0;}

/*------------------------------------------------------------
------------------------------------------------------------

    1. Body Setup

------------------------------------------------------------
------------------------------------------------------------*/

            header {
                background-color: grey;
                color:white;
                padding: 10px;
                text-align: center;
            }

            img{
                width:auto;
                height: 250px;
            }

            footer{
                text-align: center;
                padding: 10px;
                background:#000;
                color:white;
                clear:both;
            }

            section{
                padding: 1em;
                color:white;
                font-weight: bold;
            }

/*------------------------------------------------------------
------------------------------------------------------------

    2. Columns

------------------------------------------------------------
------------------------------------------------------------*/
            #wrapper {
                width:1350px;
                margin-left: auto;
                margin-right: auto;
            }
			
            #mainContent{
                border: 1px solid;
                display: flex;
            }

            section:nth-of-type(1){
                background: #92D4F4;
                text-align: center;
                width: 700px;
            }

            section:nth-of-type(3){
                background: #92D4F4;
                text-align: center;
                width: 700px;
            }
            
            section:nth-of-type(even){
                background: #326FC0;
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
            }