/****************************************************************************************
*****************************************************************************************
    Wesite Name: Joji
    Website URL: 
    Website Author: Cody Pedro
    Copyright 2019 . All Rights Resered

    Color Guide
    **************************
	black
	whitesmoke
    yellow
	#b7e2b5
	rgba(0, 0, 0, 0.245)
	#111111
	#333333
    **************************

    Typography Guide
    **************************
	Myanmar Text
    
****************************************************************************************
****************************************************************************************/



/****************************************************************************************
*****************************************************************************************

Table of Contents
-----------------------------------------------------------------------------------------
   0. CSS Reset
   1. Body setup
   2. Paragraph setup
   3. Footer setup
-----------------------------------------------------------------------------------------
****************************************************************************************
****************************************************************************************/




/*------------------------------------------------------------
------------------------------------------------------------

    0. CSS Reset

------------------------------------------------------------
------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: Myanmar Text;
}


/*------------------------------------------------------------
------------------------------------------------------------

    1. Body setup, Font-Family, Img, main title

------------------------------------------------------------
------------------------------------------------------------*/
body {
    background-image: linear-gradient( yellow, #b7e2b5);
    font-family: Myanmar Text;
}

img[title="joji"] {
    float: left;
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
}

img[title="joji"]:nth-of-type(2n){
	float: right;
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
}

img[title="joji"]:last-of-type{
    width: 15%;
	height: auto;
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
}

h1 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
    padding-top: 8px;
    background-color: whitesmoke;
    color: whitesmoke;
    background-image: radial-gradient(circle, #111111, #333333);
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
	margin-bottom: 15px;
}

/*------------------------------------------------------------
------------------------------------------------------------

    2. Paragraph setup

------------------------------------------------------------
------------------------------------------------------------*/
h2 {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
	background-color: black;
    color: whitesmoke;
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
	background-image: radial-gradient(circle, #111111, #333333);
}

h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 10px;
	background-color: black;
	color: whitesmoke;
	background-image: radial-gradient(circle, #111111, #333333);
}

section {
	padding-bottom: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}


/*------------------------------------------------------------
------------------------------------------------------------

    2. Paragraph setup

------------------------------------------------------------
------------------------------------------------------------*/

p {
	background-color: black;
	border-top-color: whitesmoke;
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-color: whitesmoke;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 85%;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
	background-image: radial-gradient(circle, #111111, #333333);
}


/*------------------------------------------------------------
------------------------------------------------------------

    4. Footer setup

------------------------------------------------------------
------------------------------------------------------------*/
footer {
	text-align: center;
	background-color: black;
	color: whitesmoke;
	border-top-style: solid;
	border-top-color: whitesmoke;
	border-top-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: whitesmoke;
	border-bottom-width: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
	background-image: radial-gradient(circle, #111111, #333333);
}