@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 1
   Case Problem 3
   Filename: dr_layout.css

   This file contains the layout styles used at Diane's Run

*/

/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices 
	unless superceded by other styles.
   =============================================
*/


html {
	height: 100%;
	margin: 0; padding: 0; border: 0;
	background-color: white;
}

body {
	margin: 0px auto auto auto;
	width: 100%;
	min-width: 320px;
	background-color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;

}

body > header > nav > ul {
	display: block;
	width: 100%;
	background-color: #ff80ff;
	height: 30px;
}

body > header > nav > ul > li {
	display: block;
	width: 15%;
	float: right;
	font-size: 0.8em;
	color: white; 
	height: 100%;
	text-align: center;
	vertical-align:middle;
}

body > header > nav > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	text-decoration: none;
}

body > header > nav > ul > li > a:visited {
	color: white;
}

body > header > nav > ul > li > a:hover {
	color: white;
	background-color: #e56db6;
}

body > header > nav > ul > li > a:active {
	color: white;
	background-color: #c20563;
}

body section:first-of-type {
	display: none;
}

body section:nth-of-type(2) {
	width: 94%;
	margin: 0px auto;
}

body section:nth-of-type(2) header h1 {
	font-size: 1.1em;
	color: #c04198;
}

body section:nth-of-type(2)  h1 {
	font-size: 1.5em;
	color: #c04198;
}

body section:nth-of-type(2)  h2 {
	font-size: 0.9em;
	color: #c04198;
}

body section:nth-of-type(2) header img {
	width: 100%;
}

body section:nth-of-type(2) p, body section:nth-of-type(2) li {
	font-size: 0.8em;
}

body section:nth-of-type(2) a {
	color: #c04198;
}

body section:nth-of-type(2) a:visited {
	color: #c04198;
}

footer {
	clear: left;
	background-color: #ff80ff;
	color: white;
	text-align:center;
	vertical-align: middle;
	height: 30px;
	font-size: 0.7em;
}

/* =============================================
	Tablet layout styles used by devices
	481px to 768px and cascaded to larger 
	devices.
   =============================================
*/


@media only screen and (min-width: 481px) {

body {
	font-size: 18px;
	min-height: 100%;
}

body header {
	width: 100%;

}

body section {
	float: left;
}


body section:first-of-type {
	width: 24%;
	display: block;
	margin-left: 2%;
	margin-right: 0%;
}

body section:nth-of-type(2) {
	width: 70%;
	margin-left: 2%;
	margin-right: 2%;
}

body section:first-of-type h1 {
	font-size: 1em;
}

body section:first-of-type p {
	font-size: 0.8em;
}

body section:first-of-type ul {
	padding-left: 20px;
}
body section:first-of-type ul li {
	font-size: 0.8em;
	margin: 2em 0;
}

body section:first-of-type ul li strong {
	color: #c04198;
}


body section:nth-of-type(2) {
	margin-right: 2%;
}


body section:nth-of-type(2) header h1 {
	font-size: 1.5em;
}

body section:nth-of-type(2)  h2 {
	font-size: 1.1em;
}

body section:nth-of-type(2) p, body section:nth-of-type(2) li {
	font-size: 0.9em;
}

footer {
	font-size: 0.85em;
}

}

/* =============================================
	Desktop layout styles used by  devices
	769px and larger.
   =============================================
*/

@media only screen and (min-width: 769px) {

html {
	background-color: rgb(191, 191, 191);
}

body {
	width: 90%;
	max-width: 1020px;
	-moz-box-shadow: rgba(61, 61, 61, 0.9) 20px 0px 25px,  rgba(61, 61, 61, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(61, 61, 61, 0.9) 20px 0px 25px,  rgba(61, 61, 61, 0.9) -20px 0px 25px;
	box-shadow: rgba(61, 61, 61, 0.9) 20px 0px 25px,  rgba(61, 61, 61, 0.9) -20px 0px 25px;
}

}
