@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
   Author: Cody Pedro
   Date: 11/29/2018

   Filename:         dlr_columns.css

*/



/* Column Styles */

@media only screen and (min-width: 641px) {
	article {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		
		-mox-column-gap: 30px;
		-webkit-column-gap: 30px;
		column-gap: 30px;
		
		-moz-column-rule: 2px solid gray;
		-webkit-colum-rule: 2px solid gray;
		column-rule: 2px solid gray;
		
	}
	
}