/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Cody Pedro
   Date: 11/14/2018

   Filename: cg_validate.css

*/


/* Validation Styles */

input:focus, select:focus, textarea:focus {
	background: rgb(245,245,140);
}

input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#addBox:focus:valid,
input#mailBox:focus:valid,
input#phoneBox:focus:valid,
input#idBox:focus:valid {
	background: rgb(220,255,220) url(cg_valid.png) right/contain no-repeat;
}

input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
ipnut#addBox:focus:invalid,
input#mailBox:focus:invalid,
input#phoneBox:focus:invalid,
input#idBox:focus:invalid {
	background: rgb(255, 232, 233) url(cg_invalid.png) bottom right/contain no-repeat;
}