/*
    Programmed by: Cody Pedro
*/

section[title="images"]{
    padding: 10px;
    text-align: center;
}

img{
    border-color: lightcyan;
    border-style: double;
    inline-size: 3.5in;
}

body {
    background-color: forestgreen;
    margin: 0;
}

body h1{
    background-color: yellowgreen;
    text-align: center;
    font-size: .5in;
    margin-bottom: 0;
}

body h2{
    background-color: yellowgreen;
    text-align: center;
    margin-top: 0;
}

body h3{
    background-color: yellowgreen;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-left: 550px;
    margin-right: 550px;
}

section [title="navMain"] nav{
    border-top-style: solid;
    border-top-width: 2px;
    background-color: forestgreen;
    text-align: center;
}

section [title="navMain"] ul{
    margin-left: 500px; 
    margin-right: 500px;
}

section [title="navMain"] li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: yellowgreen;
    border-style: ridge;
    border-color: rgba(0, 128, 0, 0.333);
}

section [title="navMain"] li:hover{
    background-color:rgba(255, 255, 0, 0.272);
}

body p::first-letter{
    font-weight: bold;
    font-size: .20in;
}

body section section p{
    font-size: .17in;
    text-align: center;
    background-color: yellowgreen;
    padding: 10px;
    padding-left: 255px;
    padding-right: 255px;
}

body section section:first-child{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
}

body section section {
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    
}

section section[title="glance"]{
    padding-bottom: 10px;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

section[title="glance"] h3{
    margin-bottom: 0;
}

section[title="glance"] h3 + ul{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    background-color: yellowgreen;
    padding-left: 50px;
    padding-right: 50px;
    
}
section[title="glance"] li:nth-child(2n +0){
    list-style-type: circle;
}

li > ul[title="glanceSub"] > li{
    list-style-type: disc;
}

li > ul[title="glanceSub"] li:nth-child(2n +0){
    list-style-type: square;
}


section[title="Resources"]{
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

section[title="Resources"] li{
    display: table-column-group
    padding: 5px;
    text-align: center;
    background-color: yellowgreen;
    border-style: ridge;
    border-color: rgba(0, 128, 0, 0.333);
    font-size: 100%;
    margin-right: 30px;
    list-style-type: none;
}

section[title="Resources"] li:hover{
    background-color: yellow;
}

section[title="Resources"] li a:visited{
    color: blue;
}

footer p:first-child {
    background-color: yellowgreen;
    padding: 10px;
    text-align: center;
    font-size: 115%;
}