/****************************************************************************************
*****************************************************************************************
    Wesite Name: Cody Pedros favourite tv shows
    Website URL: https://cpedro.scweb.ca/PHP%20_WEB_205/HTML/
    Website Author: Cody Pedro
    Copyright 2019 . All Rights Resered

    Color Guide
    **************************
    rgba(36, 36, 36, 0.455) - hsla(0, 0%, 14%, 0.45) - #242424 - Raisin Black
    rgba(255, 255, 255, 1) - hsla(0, 0%, 100%, 1) - #fff - White
    rgba(75, 134, 180, 1) - hsla(206, 41%, 50%, 1) - #4b86b4 - Cyan Azure
    **************************

    Typography Guide
    **************************
    Heading 1 - 'Gill Sans MT' 
    Heading 2 - 'Gill Sans MT'
    Heading 3 - 'Gill Sans MT'
    Heading 4 - 'Gill Sans MT'
    Body - 'Gill Sans MT'
    
****************************************************************************************
****************************************************************************************/



/****************************************************************************************
*****************************************************************************************

Table of Contents
-----------------------------------------------------------------------------------------
   0. CSS Reset
   1. Body setup, Font-Family, Img, main title
   2. Main Nav
   3. 91 Days section
   4. Your Lie In April section
   5. A Silent Voice section
   6. Relife section
   7. Sword Art Online section
   8. Resources section
   9. Footer
-----------------------------------------------------------------------------------------
****************************************************************************************
****************************************************************************************/




/*------------------------------------------------------------
------------------------------------------------------------

    0. CSS Reset

------------------------------------------------------------
------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------
------------------------------------------------------------

    1. Body setup, Font-Family, Img, main title

------------------------------------------------------------
------------------------------------------------------------*/

body{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Gill Sans MT'
}

img{
    margin-top: 0;
    margin-left: 34%;
    margin-right: auto;
    width: 33%;
    border: double white 2px;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
}

section[title="title"] {
    text-align: center;
    color: white;
    background-color: #4b86b4;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
}

section[title="title"] h1{
    background-color: rgba(36, 36, 36, 0.455);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2{
    text-align: center;
    color: rgb(36, 36, 36)
}

/*------------------------------------------------------------
------------------------------------------------------------

    2. Main Nav

------------------------------------------------------------
------------------------------------------------------------*/

nav[title="mainNav"]{
    text-align: center;
    position: sticky;
    float: left;
    top: 0;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.245);
}

nav[title="mainNav"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4b86b4;
}
  
nav[title="mainNav"] li {
    display: inline-table;
}
  
nav[title="mainNav"] li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

nav[title="mainNav"] li a:hover {
    background-color: rgba(36, 36, 36, 0.455);
    color:whitesmoke;
}

a p{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(36, 36, 36, 0.455);
}

a p:hover{
    background-color: rgba(36, 36, 36, 0.898);
}

/*------------------------------------------------------------
------------------------------------------------------------

    3. 91 Days section

------------------------------------------------------------
------------------------------------------------------------*/

section[title="91Days"] {
    background-color: #4b86b4;
    margin-top: 15px;
    padding-bottom: 20px;
    padding-top: .5px;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.286);
}

section[title="91Days"] h3{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    margin-left: 40%;
    margin-right: 40%;
    color: white;
}

section[title="91Days"] h4{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    color: white;
}

section[title="91Days"] section{
    background-color: rgba(36, 36, 36, 0.455);
}

section[title="91Days"] p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}

section[title="91Days"] ul{
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    list-style-type: none;
}
section[title="91Days"] li:nth-of-type(1n){
    padding: 10px;
    display: inline;
    color: white;
}

/*------------------------------------------------------------
------------------------------------------------------------

    4. Your Lie In April section

------------------------------------------------------------
------------------------------------------------------------*/

section[title="LieApril"] {
    background-color: #4b86b4;
    margin-top: 15px;
    padding-bottom: .5px;
    padding-top: .5px;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.286);
}

section[title="LieApril"] h3{
    text-align: center;
    background-color: hsla(0, 0%, 14%, 0.455);
    margin-left: 40%;
    margin-right: 40%;
    color: white;
}


section[title="LieApril"] h4{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    color: white;
}

section[title="LieApril"] section{
    background-color: rgba(36, 36, 36, 0.455);
}

section[title="LieApril"] p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}

section[title="LieApril"] ul{
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    list-style-type: none;
}
section[title="LieApril"] li:nth-of-type(1n){
    padding: 10px;
    display: inline;
    color: white;
}

/*------------------------------------------------------------
------------------------------------------------------------

    5. A Silent Voice section

------------------------------------------------------------
------------------------------------------------------------*/

section[title="Voice"] {
    background-color: hsl(206, 41%, 50%);
    margin-top: 15px;
    padding-bottom: .5px;
    padding-top: .5px;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.286);
}

section[title="Voice"] h3{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    margin-left: 40%;
    margin-right: 40%;
    color: white;
}

section[title="Voice"] h4{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    color: white;
}

section[title="Voice"] section{
    background-color: rgba(36, 36, 36, 0.455);
}

section[title="Voice"] p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}

section[title="Voice"] ul{
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    list-style-type: none;
}
section[title="Voice"] li:nth-of-type(1n){
    padding: 10px;
    display: inline;
    color: white;
}

/*------------------------------------------------------------
------------------------------------------------------------

    6. Relife section

------------------------------------------------------------    
------------------------------------------------------------*/

section[title="ReLife"] {
    background-color: hsl(206, 41%, 50%);
    margin-top: 15px;
    padding-bottom: .5px;
    padding-top: .5px;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.286);
}

section[title="ReLife"] h3{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    margin-left: 40%;
    margin-right: 40%;
    color: white;
}


section[title="ReLife"] h4{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    color: white;
}

section[title="ReLife"] section{
    background-color: rgba(36, 36, 36, 0.455);
}

section[title="ReLife"] p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}

section[title="ReLife"] ul{
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    list-style-type: none;
}
section[title="ReLife"] li:nth-of-type(1n){
    padding: 10px;
    display: inline;
    color: white;
}

/*------------------------------------------------------------
------------------------------------------------------------

    7. Sword Art Online section

------------------------------------------------------------
------------------------------------------------------------*/

section[title="SAO"] {
    background-color: hsl(206, 41%, 50%);
    margin-top: 15px;
    padding-bottom: .5px;
    padding-top: .5px;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.286);
}

section[title="SAO"] h3{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    margin-left: 40%;
    margin-right: 40%;
    color: white;
}

section[title="SAO"] h4{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    color: white;
}

section[title="SAO"] section{
    background-color: rgba(36, 36, 36, 0.455);
}

section[title="SAO"] p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}

section[title="SAO"] ul{
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    list-style-type: none;
}
section[title="SAO"] li:nth-of-type(1n){
    display: inline;
    margin: 10px;
    color: white;
}

/*------------------------------------------------------------
------------------------------------------------------------

    8. Resources section

------------------------------------------------------------
------------------------------------------------------------*/

section[title="Resources"] {
    background-color: hsl(206, 41%, 50%);
    margin-top: 15px;
    padding-bottom: .5px;
    padding-top: .5px;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.286);
}

section[title="Resources"] h4{
    text-align: center;
    background-color: rgba(36, 36, 36, 0.455);
    margin-left: 40%;
    margin-right: 40%;
    color:white;
}

section[title="Resources"] nav{
    padding-bottom: 10px;
}

section[title="Resources"] ul {
    font-size: 65%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(36, 36, 36, 0.455);
}
  
section[title="Resources"] li {
    display: inline-table;
}
  
section[title="Resources"] li a {
    display: block;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

section[title="Resources"] li a:hover {
    background-color: rgba(36, 36, 36, 0.455);
    color:rgb(255, 255, 255);
}

/*------------------------------------------------------------
------------------------------------------------------------

    9. Footer

------------------------------------------------------------
------------------------------------------------------------*/

footer{
    background-color: #4b86b4;
    padding-top: .3px;
    padding-bottom: .3px;
    margin-top: 20px;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.286);
}

footer p{
    background-color: rgba(36, 36, 36, 0.455);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}